Repository WALLE-Developers/Marvel, changes with the labels that .github/labeler.yml gives for each.
All labels: Marvel, Documentation, Category: Repository

[Workflows] Improve batch file
  make.bat
Labels: Category: Repository

[Workflows] Improvements for travis tox, and makefile
  .travis.yml
  Makefile
Labels: Category: Repository

[Yacc] Wanted to see this on windows :o
  yacc.y
Labels: Category: Repository

[Yacc] Lex for yacc
  lex.l
Labels: Category: Repository

Update tz.py
  marvel/tz.py
Labels: Marvel

Initial commit (thanks Jackenmen, Jojo)
  append/append.py
Labels: none

Docstring update
  append/append.py
Labels: none

Initial commit
  append/__init__.py
Labels: none

Update config
  append/append.py
Labels: none

Remove 'aboot'
  append/append.py
Labels: none

update commands
  append/append.py
Labels: none

.github/labeler.yml:

"Marvel":
  - marvel/*
"Documentation":
  - docs/*
"Category: Repository":
  - ./*
